.App {
  display: flex;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
}

.leftPanel, .rightPanel {
  padding: 20px;
}
.rightPanel{
  padding-right: 5px;
}

.leftPanel {
  background-color: #ABD5F3;
  width: 30%;
}

.rightPanel {
  background-color: #F0F0F0;
  width: 70%;
}

button {
  background-color: #DFA801;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #cc8b01;
}