.register-layout {
  background-color: #ABD5F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.register-layout .container {
  width: 90%;
  max-width: 400px;
  background-color: #131936;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  color: #ABD5F3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-layout input[type="text"],
.register-layout input[type="email"],
.register-layout input[type="password"] {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #DFA801; 
  border-radius: 0; 
  width: 100%;
  box-sizing: border-box;
  background-color: #131936;
  color: #ABD5F3;
}

.register-layout .passwords-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.register-layout .passwords-container input {
  width: calc(50% - 5px); 
}

.register-layout .back-button {
  color: #ABD5F3;
  align-self: flex-start; 
  cursor: pointer;
  margin-bottom: 20px; 
}

.register-layout .back-button:hover{
  border-bottom: 2px solid #ABD5F3;
}

.register-layout button {
  background-color: #DFA801;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  margin-top: 10px;
}

.register-layout button:hover {
  background-color: #cc8b01;
}